In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

from pandas.plotting import autocorrelation_plot
import statsmodels
from statsmodels.graphics.tsaplots import plot_acf
from statsmodels.graphics.tsaplots import plot_pacf

from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.metrics import r2_score
from sklearn.ensemble import AdaBoostRegressor, GradientBoostingRegressor
from tqdm import tqdm

d:\Anaconda3\lib\site-packages\statsmodels\compat\pandas.py:56: FutureWarning: The pandas.core.datetools module is deprecated and will be removed in a future version. Please use the pandas.tseries module instead.
  from pandas.core import datetools

In [2]:
data = pd.read_csv('Paysim.csv')

In [3]:
data.head()

,step,type,amount,nameOrig,oldbalanceOrg,newbalanceOrig,nameDest,oldbalanceDest,newbalanceDest,isFraud,isFlaggedFraud
0,1,PAYMENT,9839.64,C1231006815,170136.0,160296.36,M1979787155,0.0,0.0,0,0
1,1,PAYMENT,1864.28,C1666544295,21249.0,19384.72,M2044282225,0.0,0.0,0,0
2,1,TRANSFER,181.00,C1305486145,181.0,0.00,C553264065,0.0,0.0,1,0
3,1,CASH_OUT,181.00,C840083671,181.0,0.00,C38997010,21182.0,0.0,1,0
4,1,PAYMENT,11668.14,C2048537720,41554.0,29885.86,M1230701703,0.0,0.0,0,0

In [4]:
len(data)

6362620

In [5]:
cu_data = data.iloc[3300000:, :]

In [6]:
cu_data.head()

,step,type,amount,nameOrig,oldbalanceOrg,newbalanceOrig,nameDest,oldbalanceDest,newbalanceDest,isFraud,isFlaggedFraud
3300000,252,CASH_OUT,96509.39,C1865620108,0.0,0.0,C1755326136,7222336.86,7318846.25,0,0
3300001,252,CASH_OUT,151609.48,C1161252418,0.0,0.0,C1255989746,4099567.90,4251177.38,0,0
3300002,252,CASH_OUT,260755.25,C142980523,0.0,0.0,C1580855586,2848164.42,3108919.66,0,0
3300003,252,CASH_OUT,169955.81,C689336560,0.0,0.0,C714841497,1914122.53,2084078.34,0,0
3300004,252,CASH_OUT,179762.23,C1577510948,0.0,0.0,C241591244,712939.70,892701.93,0,0

# Sanity check

In [7]:
cu_data.isnull().any()

step              False
type              False
amount            False
nameOrig          False
oldbalanceOrg     False
newbalanceOrig    False
nameDest          False
oldbalanceDest    False
newbalanceDest    False
isFraud           False
isFlaggedFraud    False
dtype: bool

In [8]:
tmp = cu_data.groupby('isFraud', as_index = False).count()
tmp

,isFraud,step,type,amount,nameOrig,oldbalanceOrg,newbalanceOrig,nameDest,oldbalanceDest,newbalanceDest,isFlaggedFraud
0,0,3057260,3057260,3057260,3057260,3057260,3057260,3057260,3057260,3057260,3057260
1,1,5360,5360,5360,5360,5360,5360,5360,5360,5360,5360

In [9]:
tmp['step'][1]/ tmp['step'][0]

0.0017532038491983018

# Simulation

### Bootstrap

In [10]:
fraud_data = cu_data[cu_data['isFraud'] == 1]
non_fraud_data = cu_data[cu_data['isFraud'] == 0]
fraud_data.head()

,step,type,amount,nameOrig,oldbalanceOrg,newbalanceOrig,nameDest,oldbalanceDest,newbalanceDest,isFraud,isFlaggedFraud
3320846,253,TRANSFER,690510.31,C1283193575,690510.31,0.0,C1577097476,0.00,0.00,1,0
3320847,253,CASH_OUT,690510.31,C1587643191,690510.31,0.0,C1346914355,53206.61,743716.92,1,0
3328118,253,TRANSFER,157628.35,C787232450,157628.35,0.0,C257156867,0.00,0.00,1,0
3328119,253,CASH_OUT,157628.35,C418787765,157628.35,0.0,C492603644,17051087.32,17208715.67,1,0
3339185,253,TRANSFER,168622.30,C1044222858,168622.30,0.0,C2146789865,0.00,0.00,1,0

In [11]:
print(len(fraud_data), fraud_data['nameOrig'].nunique())

5360 5360

In [13]:
print(len(non_fraud_data), non_fraud_data['nameOrig'].nunique())

3057260 3055149

In [12]:
# first, keep all the names in the original dataset that are not unique
tmp = non_fraud_data
ids = tmp['nameOrig']
keep = tmp[ids.isin(ids[ids.duplicated()])]

In [13]:
print(len(keep))
keep.head()

4221

,step,type,amount,nameOrig,oldbalanceOrg,newbalanceOrig,nameDest,oldbalanceDest,newbalanceDest,isFraud,isFlaggedFraud
3300975,252,CASH_OUT,293487.78,C751395361,10770.00,0.00,C1683666309,1062447.43,1355935.20,0,0
3301327,252,CASH_OUT,129436.02,C855939807,21456.00,0.00,C1143249588,137196.56,266632.58,0,0
3302368,252,CASH_IN,104304.29,C289706812,6453.00,110757.29,C1149496263,0.00,0.00,0,0
3302637,252,CASH_OUT,202971.84,C1180617355,0.00,0.00,C1411872125,5908353.24,6111325.08,0,0
3302968,252,PAYMENT,9956.19,C48851076,138092.49,128136.30,M2128999421,0.00,0.00,0,0

In [14]:
keep.head(50)

,step,type,amount,nameOrig,oldbalanceOrg,newbalanceOrig,nameDest,oldbalanceDest,newbalanceDest,isFraud,isFlaggedFraud
3300975,252,CASH_OUT,293487.78,C751395361,10770.00,0.00,C1683666309,1062447.43,1355935.20,0,0
3301327,252,CASH_OUT,129436.02,C855939807,21456.00,0.00,C1143249588,137196.56,266632.58,0,0
3302368,252,CASH_IN,104304.29,C289706812,6453.00,110757.29,C1149496263,0.00,0.00,0,0
3302637,252,CASH_OUT,202971.84,C1180617355,0.00,0.00,C1411872125,5908353.24,6111325.08,0,0
3302968,252,PAYMENT,9956.19,C48851076,138092.49,128136.30,M2128999421,0.00,0.00,0,0
3305065,252,PAYMENT,7478.11,C1180173859,0.00,0.00,M60906360,0.00,0.00,0,0
3305962,252,CASH_OUT,24518.85,C648568063,951.00,0.00,C1837558204,1368054.75,1392573.60,0,0
3306004,252,CASH_IN,143083.39,C276386995,2567938.49,2711021.88,C37957335,2658301.97,2515218.58,0,0
3306333,252,PAYMENT,11002.05,C1727941582,82637.00,71634.95,M574418015,0.00,0.00,0,0
3306508,252,PAYMENT,13727.24,C1914256039,40397.00,26669.76,M1594323014,0.00,0.00,0,0
3306936,252,CASH_OUT,21940.52,C1565205799,0.00,0.00,C1875614268,53316.83,75257.35,0,0
3307309,252,CASH_IN,64987.76,C1283479778,2881161.89,2946149.64,C487316792,276339.58,211351.82,0,0
3308518,252,CASH_IN,61955.20,C1398780153,0.00,61955.20,C1350179108,100102.00,0.00,0,0
3310140,252,CASH_OUT,250504.54,C1414189005,100677.00,0.00,C963538760,0.00,628347.90,0,0
3310694,252,PAYMENT,20912.87,C1410401976,0.00,0.00,M1532393184,0.00,0.00,0,0
3311206,252,PAYMENT,1321.46,C1802944199,0.00,0.00,M172965064,0.00,0.00,0,0
3313824,252,PAYMENT,15680.96,C2105400690,346820.61,331139.64,M1765092804,0.00,0.00,0,0
3314577,252,PAYMENT,580.34,C2032967777,186523.48,185943.14,M557279893,0.00,0.00,0,0
3314657,252,PAYMENT,28907.98,C70871218,21012.00,0.00,M567797692,0.00,0.00,0,0
3315276,252,PAYMENT,1362.48,C1632539626,7940.23,6577.75,M994294187,0.00,0.00,0,0
3315712,252,CASH_IN,407227.13,C329851584,1723.00,408950.13,C908661432,0.00,0.00,0,0
3316739,252,CASH_IN,67849.12,C628187395,7198074.99,7265924.11,C1103758765,612719.94,544870.82,0,0
3316768,252,CASH_IN,49662.33,C1438325296,12211851.40,12261513.73,C887265874,749370.83,699708.50,0,0
3316806,252,CASH_IN,69943.59,C1462576649,17554662.52,17624606.11,C936332388,6542961.40,6473017.81,0,0
3317123,252,CASH_OUT,6833.37,C1810086053,0.00,0.00,C992579274,330502.93,337336.30,0,0
3317237,252,CASH_IN,123999.18,C878956274,2029.00,126028.18,C549676307,9186899.93,8793495.08,0,0
3317815,252,CASH_OUT,4256.91,C474644275,326448.00,322191.09,C1743612416,0.00,4256.91,0,0
3317829,252,PAYMENT,34002.88,C677324264,65169.00,31166.12,M1267056538,0.00,0.00,0,0
3318465,252,PAYMENT,11957.61,C1041376038,0.00,0.00,M1662860264,0.00,0.00,0,0
3319571,253,TRANSFER,903229.19,C806335750,106548.00,0.00,C36515624,0.00,903229.19,0,0
3320804,253,PAYMENT,14339.55,C918677898,85908.01,71568.46,M585598233,0.00,0.00,0,0
3320974,253,PAYMENT,852.15,C1285321669,0.00,0.00,M955852334,0.00,0.00,0,0
3321024,253,CASH_OUT,106063.71,C869081112,0.00,0.00,C299592580,344807.56,450871.27,0,0
3321306,253,CASH_OUT,194600.40,C2063972853,72630.00,0.00,C1769433217,1080198.00,1274798.40,0,0
3321589,253,TRANSFER,50473.20,C1161161276,107523.00,57049.80,C542421846,501255.07,551728.27,0,0
3321821,253,CASH_IN,7524.27,C549905313,11088867.54,11096391.81,C1710963407,662227.55,654703.28,0,0
3321893,253,CASH_IN,274048.27,C1836630205,205057.00,479105.27,C1055426080,411433.08,137384.80,0,0
3322197,253,CASH_IN,41076.36,C830461081,106495.00,147571.36,C1548930659,1881689.04,1840612.68,0,0
3323632,253,PAYMENT,25303.58,C334643493,43053.00,17749.42,M581653090,0.00,0.00,0,0
3323827,253,PAYMENT,605.19,C1299692852,0.00,0.00,M841944743,0.00,0.00,0,0
3323859,253,CASH_IN,202845.88,C776507854,42560.00,245405.88,C1853708685,0.00,0.00,0,0
3324539,253,PAYMENT,5315.24,C427713987,0.00,0.00,M1773539014,0.00,0.00,0,0
3324859,253,PAYMENT,23805.31,C276147846,37359.00,13553.69,M440881740,0.00,0.00,0,0
3325526,253,CASH_OUT,93863.22,C1890621589,6018.00,0.00,C772666709,322968.72,416831.94,0,0
3326774,253,PAYMENT,21703.07,C1538984441,237807.00,216103.92,M1045259389,0.00,0.00,0,0
3326911,253,CASH_IN,3267.18,C422241981,2988355.61,2991622.80,C7659588,71044.57,67777.39,0,0
3327871,253,CASH_IN,360569.08,C1779264636,350691.00,711260.08,C1386792577,3905920.35,3545351.28,0,0
3327927,253,CASH_OUT,21241.01,C236950934,0.00,0.00,C969717908,644056.66,665297.67,0,0
3328080,253,CASH_OUT,6935.43,C512766455,0.00,0.00,C788274496,1276556.25,1283491.68,0,0
3328724,253,TRANSFER,694025.56,C408060345,0.00,0.00,C623395017,704157.78,1398183.34,0,0

### keep a ratio of fraud and non fraud to be 1: 100

In [16]:
# second, keep part of the non fraud data randomly with a reasonable ratio 1:100
size = len(fraud_data)*100 - len(keep)
#randindex = np.random.randint(3300000, size = size)
randindex = np.random.randint(3300000, high = 6362619,size = size)
keep2 = data.iloc[randindex, :]
keep2.head()

,step,type,amount,nameOrig,oldbalanceOrg,newbalanceOrig,nameDest,oldbalanceDest,newbalanceDest,isFraud,isFlaggedFraud
3760114,279,CASH_IN,216379.84,C1264380114,356415.04,572794.88,C13103044,1303928.78,1087548.94,0,0
4483716,324,CASH_OUT,52277.40,C1823846327,0.00,0.00,C319738216,718513.52,770790.92,0,0
3845432,282,CASH_IN,57876.78,C1153323012,122740.00,180616.78,C651306145,0.00,0.00,0,0
6199888,574,PAYMENT,3873.37,C1934701593,82860.57,78987.20,M971814,0.00,0.00,0,0
5577365,393,CASH_IN,62641.91,C1821257693,10540.00,73181.91,C1581641742,70144.38,7502.47,0,0

In [17]:
df_base = pd.concat([keep, keep2, fraud_data], ignore_index = True)
print(len(df_base))
df_base.head(2)

541360

,step,type,amount,nameOrig,oldbalanceOrg,newbalanceOrig,nameDest,oldbalanceDest,newbalanceDest,isFraud,isFlaggedFraud
0,252,CASH_OUT,293487.78,C751395361,10770.0,0.0,C1683666309,1062447.43,1355935.20,0,0
1,252,CASH_OUT,129436.02,C855939807,21456.0,0.0,C1143249588,137196.56,266632.58,0,0

In [16]:
# df_base.sample(frac = 0.01, replace = True)

In [18]:
np.random.rand(2) +1

array([1.48153603, 1.29599653])

In [19]:
# third, randomly sample from the base dataframe, to simulate more transactions for each person
for _ in tqdm(range(100)):
    tmp = df_base.sample(frac = 0.05, replace = True)
    # create random change to the amount, oldbalance, new balance, oldbalanceDest newbalanceDest
    multiplier = np.random.rand(len(tmp)) + 1
    perterbation = np.random.rand(len(tmp))*100
    
    tmp['amount'] = multiplier * tmp['amount'] + perterbation
    tmp['oldbalanceOrg'] = multiplier * tmp['oldbalanceOrg'] + perterbation
    tmp['newbalanceOrig'] = multiplier * tmp['newbalanceOrig'] + perterbation
    tmp['oldbalanceDest'] = multiplier * tmp['oldbalanceDest'] + perterbation
    tmp['newbalanceDest'] = multiplier * tmp['newbalanceDest'] + perterbation
    # 
    df_base = df_base.append(tmp)

100%|| 100/100 [14:51<00:00,  8.91s/it]

In [20]:
print(len(df_base))
df_base.head()

71189353

,step,type,amount,nameOrig,oldbalanceOrg,newbalanceOrig,nameDest,oldbalanceDest,newbalanceDest,isFraud,isFlaggedFraud
0,252,CASH_OUT,293487.78,C751395361,10770.00,0.00,C1683666309,1062447.43,1355935.20,0,0
1,252,CASH_OUT,129436.02,C855939807,21456.00,0.00,C1143249588,137196.56,266632.58,0,0
2,252,CASH_IN,104304.29,C289706812,6453.00,110757.29,C1149496263,0.00,0.00,0,0
3,252,CASH_OUT,202971.84,C1180617355,0.00,0.00,C1411872125,5908353.24,6111325.08,0,0
4,252,PAYMENT,9956.19,C48851076,138092.49,128136.30,M2128999421,0.00,0.00,0,0

In [21]:
# percentage of names that correspond to only 1 transaction
df_base['nameOrig'].nunique()/ len(df_base)

0.006936346225818347

In [27]:
'''
HERE IS A DEMOSTRATION OF MULTIPLE TRANSACTIONS FROM THIS PERSON, THE VALUES ARE RANDOMIZED
'''
tmp_Demo = df_base[df_base['nameOrig'] == 'C1880614464']
print('number of transactions from C1880614464', len(tmp_Demo))
tmp_Demo.head()

number of transactions from C1880614464 1947

,step,type,amount,nameOrig,oldbalanceOrg,newbalanceOrig,nameDest,oldbalanceDest,newbalanceDest,isFraud,isFlaggedFraud
89821,377,TRANSFER,68881.110000,C1880614464,107.000000,0.000000,C1271421975,42030.380000,110911.490000,0,0
491991,377,TRANSFER,68881.110000,C1880614464,107.000000,0.000000,C1271421975,42030.380000,110911.490000,0,0
89821,377,TRANSFER,90979.719357,C1880614464,206.779993,65.553818,C1271421975,55540.224957,146454.390496,0,0
89821,377,TRANSFER,115863.599070,C1880614464,354.329296,174.617892,C1271421975,70766.567423,186455.548600,0,0
89821,377,TRANSFER,109127.714482,C1880614464,252.628436,83.238614,C1271421975,66620.795248,175665.271116,0,0

In [22]:
df_base.tail()

,step,type,amount,nameOrig,oldbalanceOrg,newbalanceOrig,nameDest,oldbalanceDest,newbalanceDest,isFraud,isFlaggedFraud
217827,355,CASH_IN,1.328042e+06,C1113159414,1.792312e+04,1.345417e+06,C963817305,5.481525e+02,5.481525e+02,0,0
69462,259,DEBIT,4.647764e+04,C514651022,9.967104e+03,9.054062e+02,C810609494,1.669160e+06,1.714733e+06,0,0
118898,406,PAYMENT,5.575819e+04,C905854124,4.987748e+04,8.278153e+02,M2125090765,8.278153e+02,8.278153e+02,0,0
94802,403,CASH_IN,1.005006e+05,C1908704672,5.392289e+06,5.492692e+06,C1886938557,4.032575e+06,3.932172e+06,0,0
28045,527,PAYMENT,2.821367e+04,C1203585652,7.847183e+04,5.088419e+04,M866668491,6.260286e+02,6.260286e+02,0,0

## Simulate communities

# PLEASE SEE https://www.icij.org/blog/2018/01/how-to-explore-networks-and-entity-metadata-in-the-offshore-leaks-database/

In [23]:
df_base['receiver'] = np.nan

In [24]:
df_base.head(2)

,step,type,amount,nameOrig,oldbalanceOrg,newbalanceOrig,nameDest,oldbalanceDest,newbalanceDest,isFraud,isFlaggedFraud,receiver
0,252,CASH_OUT,293487.78,C751395361,10770.0,0.0,C1683666309,1062447.43,1355935.20,0,0,NaN
1,252,CASH_OUT,129436.02,C855939807,21456.0,0.0,C1143249588,137196.56,266632.58,0,0,NaN

In [28]:
def set_community(ids, sz):
    '''
    Simulates communities
    ids: sequence of id's
    sz: largest size of a group
    '''
    n = len(ids)
    groups = []
    num_in_group = np.random.randint(sz, size = 50) + 2
    # assumes the sequence in the original dataset does not affect the result
    i = 0
    for j in num_in_group:
        a_group = ids[i : i+j]
        groups.append(a_group)
        i += j
    return groups


def search_community(group_list, curr_id):
    '''
    return the group that current id is in
    '''
    for sublist in group_list:
        if curr_id in sublist:
            return sublist
    return None

#### Randomly assign the non fraud communities

In [29]:
non_fraud_ids = df_base[df_base['isFraud'] == 0]['nameOrig'].unique()
non_fraud_groups = set_community(ids = non_fraud_ids, sz = 100)
non_fraud_ids[:5]

array(['C751395361', 'C855939807', 'C289706812', 'C1180617355',
       'C48851076'], dtype=object)

In [30]:
len(non_fraud_ids)

488436

#### Randomly assign the fraud communities

In [48]:
fraud_ids = df_base[df_base['isFraud'] == 1]['nameOrig'].unique()

In [49]:
fraud_ids[1:3]

array(['C797588864', 'C1666828573'], dtype=object)

In [174]:
# use a tmp dataframe to test
#tmp_df = df_base.iloc[10000:50000,:]
tmp_df = df_base.iloc[:,:]
tmp_df[tmp_df['isFraud'] == 1]

,step,type,amount,nameOrig,oldbalanceOrg,newbalanceOrig,nameDest,oldbalanceDest,newbalanceDest,isFraud,isFlaggedFraud,receiver
4259,399,CASH_OUT,2.051703e+05,C1048601853,2.051703e+05,0.000000e+00,C1408847191,1.255559e+07,1.276076e+07,1,0,NaN
4663,603,TRANSFER,2.319926e+06,C797588864,2.319926e+06,0.000000e+00,C510193996,0.000000e+00,0.000000e+00,1,0,NaN
5068,620,TRANSFER,1.840516e+04,C1666828573,1.840516e+04,0.000000e+00,C886178722,0.000000e+00,0.000000e+00,1,0,NaN
6244,278,TRANSFER,2.405804e+05,C338881900,2.405804e+05,0.000000e+00,C738144053,0.000000e+00,0.000000e+00,1,0,NaN
7978,578,CASH_OUT,6.274753e+06,C789526780,6.274753e+06,0.000000e+00,C1905238884,0.000000e+00,6.274753e+06,1,0,NaN
9573,438,TRANSFER,4.550147e+05,C312774959,4.550147e+05,0.000000e+00,C2129735982,0.000000e+00,0.000000e+00,1,0,NaN
9969,531,CASH_OUT,2.963703e+04,C1157110061,2.963703e+04,0.000000e+00,C1111669331,0.000000e+00,2.963703e+04,1,0,NaN
10149,327,TRANSFER,1.467297e+05,C1943481220,1.467297e+05,0.000000e+00,C676856624,0.000000e+00,0.000000e+00,1,0,NaN
10353,465,CASH_OUT,4.494620e+04,C1797253023,4.494620e+04,0.000000e+00,C1822942612,1.136952e+06,1.181898e+06,1,0,NaN
12312,343,TRANSFER,2.379436e+05,C421063586,2.379436e+05,0.000000e+00,C339061789,0.000000e+00,0.000000e+00,1,0,NaN
13126,459,TRANSFER,2.776111e+05,C1304518547,2.776111e+05,0.000000e+00,C230736806,0.000000e+00,0.000000e+00,1,0,NaN
14357,456,CASH_OUT,4.017973e+06,C826677509,4.017973e+06,0.000000e+00,C1483869567,0.000000e+00,4.017973e+06,1,0,NaN
16264,354,TRANSFER,3.754193e+05,C634556474,3.754193e+05,0.000000e+00,C1581571123,0.000000e+00,0.000000e+00,1,0,NaN
16618,569,TRANSFER,1.509369e+04,C1117819828,1.509369e+04,0.000000e+00,C675389244,0.000000e+00,0.000000e+00,1,0,NaN
18132,302,TRANSFER,1.788730e+06,C1477176067,1.788730e+06,0.000000e+00,C78352329,0.000000e+00,0.000000e+00,1,0,NaN
18237,290,TRANSFER,1.454357e+06,C588367741,1.454357e+06,0.000000e+00,C2104870243,0.000000e+00,0.000000e+00,1,0,NaN
18311,342,CASH_OUT,1.143082e+05,C1976361494,1.143082e+05,0.000000e+00,C1419412213,0.000000e+00,1.143082e+05,1,0,NaN
19011,409,CASH_OUT,1.759723e+05,C353964501,1.759723e+05,0.000000e+00,C1118456791,6.026090e+05,7.785813e+05,1,0,NaN
19117,572,TRANSFER,2.629602e+05,C1013385845,2.629602e+05,0.000000e+00,C1547908337,0.000000e+00,0.000000e+00,1,0,NaN
19119,560,CASH_OUT,3.578828e+05,C151669603,3.578828e+05,0.000000e+00,C1152228208,9.013297e+05,1.259213e+06,1,0,NaN
19461,367,TRANSFER,2.404272e+05,C1605606339,2.404272e+05,0.000000e+00,C1490951962,0.000000e+00,0.000000e+00,1,0,NaN
19886,318,TRANSFER,6.884733e+05,C1924852703,6.884733e+05,0.000000e+00,C43802286,0.000000e+00,0.000000e+00,1,0,NaN
20877,726,CASH_OUT,5.458429e+04,C361669345,5.458429e+04,0.000000e+00,C1226907316,2.429874e+04,7.888303e+04,1,0,NaN
21463,605,TRANSFER,1.555182e+06,C403559722,1.555182e+06,0.000000e+00,C999708230,0.000000e+00,0.000000e+00,1,0,NaN
21762,565,TRANSFER,1.129589e+05,C527712265,1.129589e+05,0.000000e+00,C1783916245,0.000000e+00,0.000000e+00,1,0,NaN
21770,317,CASH_OUT,3.229918e+05,C895065191,3.229918e+05,0.000000e+00,C317556709,5.713890e+04,3.801307e+05,1,0,NaN
21791,731,CASH_OUT,3.022276e+05,C1814350435,3.022276e+05,0.000000e+00,C51409599,1.125770e+06,1.427997e+06,1,0,NaN
22681,513,CASH_OUT,1.597244e+05,C1923821015,1.597244e+05,0.000000e+00,C993688560,1.148567e+06,1.308291e+06,1,0,NaN
22855,728,CASH_OUT,1.191438e+05,C1983324612,1.191438e+05,0.000000e+00,C1263469506,1.314516e+05,2.505953e+05,1,0,NaN
22868,676,CASH_OUT,3.542716e+06,C488587409,3.542716e+06,0.000000e+00,C1867928839,4.746620e+03,3.547463e+06,1,0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
539416,567,TRANSFER,1.787175e+04,C951711545,1.787175e+04,3.798236e+02,C1106131207,3.798236e+02,3.798236e+02,1,0,NaN
539168,544,TRANSFER,4.474972e+05,C199245986,4.474972e+05,8.330239e+02,C140137302,8.330239e+02,8.330239e+02,1,0,NaN
536718,317,TRANSFER,1.495724e+06,C1002859898,1.495724e+06,2.089725e+02,C647242478,2.089725e+02,2.089725e+02,1,0,NaN
540484,665,TRANSFER,8.889731e+06,C2071265703,8.889731e+06,4.105521e+02,C1234810608,4.105521e+02,4.105521e+02,1,0,NaN
536621,308,CASH_OUT,3.848725e+07,C1497447156,3.848725e+07,9.822815e+03,C817261687,5.092270e+07,8.940013e+07,1,0,NaN
537616,400,TRANSFER,6.361165e+05,C1830554141,6.361165e+05,2.775805e+02,C1838718052,2.775805e+02,2.775805e+02,1,0,NaN
541149,726,CASH_OUT,3.224547e+06,C929950007,3.224547e+06,1.625573e+02,C1800726477,2.876191e+05,3.512004e+06,1,0,NaN
538777,506,CASH_OUT,8.339515e+06,C858739147,8.339515e+06,7.011720e+02,C1868986147,2.634358e+07,3.468239e+07,1,0,NaN
537809,413,CASH_OUT,7.883116e+06,C1989836964,7.883116e+06,1.114583e+03,C457437086,1.114583e+03,7.883116e+06,1,0,NaN
537585,398,CASH_OUT,9.661886e+07,C1046281837,9.661886e+07,1.910046e+03,C193638063,1.368106e+06,9.798506e+07,1,0,NaN
537301,373,CASH_OUT,2.081907e+06,C767066926,2.081907e+06,1.429357e+03,C1291704939,8.749491e+06,1.082997e+07,1,0,NaN
539220,551,TRANSFER,2.361820e+06,C1375603076,2.361820e+06,8.035856e+02,C1520555708,8.035856e+02,8.035856e+02,1,0,NaN
537006,346,TRANSFER,6.463264e+06,C1361333152,6.463264e+06,1.098786e+03,C46072537,1.098786e+03,1.098786e+03,1,0,NaN
539362,563,TRANSFER,3.854257e+06,C1454005383,3.854257e+06,3.037468e+02,C1762009463,3.037468e+02,3.037468e+02,1,0,NaN
536508,296,TRANSFER,4.463000e+06,C1732292791,4.463000e+06,1.011391e+03,C1402438091,1.011391e+03,1.011391e+03,1,0,NaN
540407,657,CASH_OUT,1.901659e+07,C1999663359,1.901659e+07,6.862081e+02,C944268161,6.862081e+02,1.901659e+07,1,0,NaN
540007,621,CASH_OUT,1.528584e+07,C1436575323,1.528584e+07,4.914544e+02,C832267581,7.694125e+06,2.297947e+07,1,0,NaN
539750,600,TRANSFER,1.019004e+07,C278936084,1.019004e+07,7.042081e+02,C1115591594,7.042081e+02,7.042081e+02,1,0,NaN
536875,332,CASH_OUT,3.255523e+05,C2130173515,3.255523e+05,3.765868e+02,C1264209653,3.765868e+02,3.255523e+05,1,0,NaN
538941,521,CASH_OUT,2.198458e+05,C744746510,2.198458e+05,6.874521e+02,C1563109259,5.287372e+05,7.478955e+05,1,0,NaN
539233,552,CASH_OUT,2.513795e+07,C133353018,2.513795e+07,8.803130e+03,C2063078053,1.249558e+06,2.637870e+07,1,0,NaN
115059,734,CASH_OUT,1.283391e+05,C4748745,1.283391e+05,3.257014e+02,C1953200125,1.814895e+06,1.942908e+06,1,0,NaN
425542,275,TRANSFER,1.514501e+07,C1448180572,1.514501e+07,7.134537e+02,C669935594,7.134537e+02,7.134537e+02,1,0,NaN
536584,305,TRANSFER,7.455817e+07,C597569560,7.455817e+07,1.790333e+03,C992060684,1.790333e+03,1.790333e+03,1,0,NaN
539515,576,CASH_OUT,4.412317e+05,C1126995065,4.412317e+05,1.201739e+03,C1039822411,7.422259e+06,7.862289e+06,1,0,NaN
538652,495,TRANSFER,7.101905e+06,C136928681,7.101905e+06,7.885420e+02,C689814483,7.885420e+02,7.885420e+02,1,0,NaN
538891,517,CASH_OUT,1.309494e+08,C1437493877,1.309494e+08,2.853409e+03,C489326905,1.949820e+07,1.504448e+08,1,0,NaN
536135,265,CASH_OUT,2.887960e+07,C1389553281,2.887960e+07,2.750508e+03,C372435481,1.160233e+06,3.003708e+07,1,0,NaN
485301,741,TRANSFER,6.213521e+07,C780743034,2.837981e+08,2.216633e+08,C491519946,4.838826e+02,4.838826e+02,1,0,NaN
538089,440,CASH_OUT,5.770742e+07,C220809630,5.770742e+07,7.888929e+02,C1161159002,1.463725e+06,5.917036e+07,1,0,NaN

In [175]:
fraud_ids = tmp_df[tmp_df['isFraud'] == 1]['nameOrig'].unique()
fraud_ids

array(['C1048601853', 'C797588864', 'C1666828573', ..., 'C1162922333',
       'C1685995037', 'C1280323807'], dtype=object)

In [176]:
tmp_df.head()

,step,type,amount,nameOrig,oldbalanceOrg,newbalanceOrig,nameDest,oldbalanceDest,newbalanceDest,isFraud,isFlaggedFraud,receiver
0,252,CASH_OUT,293487.78,C751395361,10770.00,0.00,C1683666309,1062447.43,1355935.20,0,0,NaN
1,252,CASH_OUT,129436.02,C855939807,21456.00,0.00,C1143249588,137196.56,266632.58,0,0,NaN
2,252,CASH_IN,104304.29,C289706812,6453.00,110757.29,C1149496263,0.00,0.00,0,0,NaN
3,252,CASH_OUT,202971.84,C1180617355,0.00,0.00,C1411872125,5908353.24,6111325.08,0,0,NaN
4,252,PAYMENT,9956.19,C48851076,138092.49,128136.30,M2128999421,0.00,0.00,0,0,NaN

In [145]:
tmp_df.to_csv("tmp_df.csv")

In [179]:
# randomly set a community
fraud_groups = set_community(fraud_ids, sz = 10)

def fradu_dect(x):
    if x in fraud_ids:
        group = search_community(fraud_groups, x)
        group_choice = np.setdiff1d(group,x)
        receiver = np.random.choice(group_choice)
        return receiver
#tmp_df["receiver"] = tmp_df["nameOrig"].apply(fradu_dect)

In [180]:
tmp_df["receiver"] = tmp_df["nameOrig"].apply(fradu_dect)

In [181]:
tmp_df.receiver = np.where(tmp_df.receiver.isnull(), tmp_df.nameDest, tmp_df.receiver)
#tmp_df['receiver'] = tmp_df['receiver'].fillna(tmp_df['nameDest']) # Same way to do that

In [144]:
#tmp_df[tmp_df["receiver"].apply(lambda x:x == "C562635378")]

,step,type,amount,nameOrig,oldbalanceOrg,newbalanceOrig,nameDest,oldbalanceDest,newbalanceDest,isFraud,isFlaggedFraud,receiver
17085,402,TRANSFER,3107315.03,C252212539,0.00,0.00,C562635378,8218143.23,11325458.26,0,0,C562635378
21189,395,CASH_IN,42047.38,C1223144886,2406963.43,2449010.82,C562635378,8260190.61,8218143.23,0,0,C562635378
23432,276,CASH_OUT,141809.25,C1168936304,395.00,0.00,C562635378,3480013.51,3621822.76,0,0,C562635378

In [182]:
tmp_df["receiver"].value_counts()

C1580898291    2426
C1805552012    2192
C1300753775    2081
C123584876     2042
C1205902111    1955
C1271421975    1947
C1670922644    1905
C1258713620    1898
C159568170     1887
C1744813930    1811
C386051745     1774
C599869540     1773
C1011327941    1758
C923763422     1744
C1409937101    1742
C1763040255    1735
C778788657     1687
C1081190270    1685
C94191262      1683
C1169233308    1683
C1982479597    1671
C205015475     1666
C1915071784    1664
C1776177253    1663
C2085373603    1660
C1075270504    1658
C1781907974    1654
C866410359     1653
C1405984618    1651
C534279474     1651
               ...
C1862067577       1
C2025213143       1
M1621688753       1
M161954478        1
M882556567        1
C759116532        1
M1403360124       1
C1087468074       1
M1160934666       1
M182854508        1
C372296974        1
C131344324        1
C732104967        1
C721884636        1
C1698571173       1
C1514143343       1
C598186244        1
M1360604458       1
M1605038884       1
C2115055717       1
M1180862061       1
M1732023609       1
M1073599297       1
C1576200710       1
C2090831126       1
C1726315319       1
C808310449        1
C515641777        1
C1982779109       1
C792438554        1
Name: receiver, Length: 407084, dtype: int64

In [183]:
tmp_df.sort_values(['receiver'], ascending= False)

,step,type,amount,nameOrig,oldbalanceOrg,newbalanceOrig,nameDest,oldbalanceDest,newbalanceDest,isFraud,isFlaggedFraud,receiver
528775,308,PAYMENT,3.002989e+04,C1211430763,587716.379587,5.580976e+05,M9999977,411.107065,411.107065,0,0,M9999977
528775,308,PAYMENT,1.304948e+04,C1211430763,257458.174393,2.444776e+05,M9999977,68.912610,68.912610,0,0,M9999977
528775,308,PAYMENT,1.609926e+04,C1211430763,316265.980996,3.003241e+05,M9999977,157.376867,157.376867,0,0,M9999977
528775,308,PAYMENT,1.524640e+04,C1211430763,300772.361544,2.856081e+05,M9999977,82.095480,82.095480,0,0,M9999977
528775,308,PAYMENT,8.975642e+03,C1211430763,176777.853059,1.678659e+05,M9999977,63.651531,63.651531,0,0,M9999977
528775,308,PAYMENT,2.014798e+04,C1211430763,394820.280911,3.749214e+05,M9999977,249.106320,249.106320,0,0,M9999977
528775,308,PAYMENT,5.263300e+03,C1211430763,104365.000000,9.910170e+04,M9999977,0.000000,0.000000,0,0,M9999977
528775,308,PAYMENT,2.099565e+04,C1211430763,411816.265775,3.910597e+05,M9999977,239.134989,239.134989,0,0,M9999977
528775,308,PAYMENT,1.167892e+04,C1211430763,228693.394245,2.171677e+05,M9999977,153.258314,153.258314,0,0,M9999977
528775,308,PAYMENT,1.781480e+04,C1211430763,349739.305974,3.321108e+05,M9999977,186.260668,186.260668,0,0,M9999977
528775,308,PAYMENT,7.760988e+03,C1211430763,153688.485961,1.459383e+05,M9999977,10.765843,10.765843,0,0,M9999977
528775,308,PAYMENT,5.631496e+03,C1211430763,110492.457987,1.049233e+05,M9999977,62.320623,62.320623,0,0,M9999977
528775,308,PAYMENT,1.404218e+04,C1211430763,276004.854817,2.620920e+05,M9999977,129.318918,129.318918,0,0,M9999977
528775,308,PAYMENT,9.234955e+03,C1211430763,181561.154863,1.724089e+05,M9999977,82.695801,82.695801,0,0,M9999977
528775,308,PAYMENT,1.232245e+04,C1211430763,242639.689580,2.304075e+05,M9999977,90.284804,90.284804,0,0,M9999977
528775,308,PAYMENT,1.753198e+04,C1211430763,343428.956979,3.261205e+05,M9999977,223.563387,223.563387,0,0,M9999977
528775,308,PAYMENT,2.410590e+04,C1211430763,473977.823830,4.500851e+05,M9999977,213.166602,213.166602,0,0,M9999977
528775,308,PAYMENT,4.744003e+04,C1211430763,931726.855452,8.847623e+05,M9999977,475.473835,475.473835,0,0,M9999977
528775,308,PAYMENT,2.100955e+04,C1211430763,412111.756910,3.913403e+05,M9999977,238.073319,238.073319,0,0,M9999977
528775,308,PAYMENT,3.045071e+04,C1211430763,595676.662026,5.656575e+05,M9999977,431.507620,431.507620,0,0,M9999977
528775,308,PAYMENT,1.609495e+04,C1211430763,316608.004897,3.006477e+05,M9999977,134.677599,134.677599,0,0,M9999977
448289,276,PAYMENT,1.053234e+05,C1144063452,9358.532265,4.777261e+02,M999979880,477.726123,477.726123,0,0,M999979880
448289,276,PAYMENT,8.820061e+04,C1144063452,7928.747622,5.002047e+02,M999979880,500.204677,500.204677,0,0,M999979880
448289,276,PAYMENT,1.314745e+05,C1144063452,11690.378080,6.052816e+02,M999979880,605.281589,605.281589,0,0,M999979880
448289,276,PAYMENT,2.563503e+05,C1144063452,22886.959877,1.281723e+03,M999979880,1281.723490,1281.723490,0,0,M999979880
448289,276,PAYMENT,1.106740e+05,C1144063452,9903.491035,5.779573e+02,M999979880,577.957343,577.957343,0,0,M999979880
448289,276,PAYMENT,5.023003e+05,C1144063452,44578.375700,2.219738e+03,M999979880,2219.738185,2219.738185,0,0,M999979880
448289,276,PAYMENT,3.067410e+05,C1144063452,27256.977287,1.392883e+03,M999979880,1392.883444,1392.883444,0,0,M999979880
448289,276,PAYMENT,5.094677e+04,C1144063452,4552.118594,2.586507e+02,M999979880,258.650715,258.650715,0,0,M999979880
448289,276,PAYMENT,5.651290e+05,C1144063452,50649.940407,3.038861e+03,M999979880,3038.860525,3038.860525,0,0,M999979880
...,...,...,...,...,...,...,...,...,...,...,...,...
373767,352,CASH_IN,2.381015e+06,C1180747031,549593.936861,2.929626e+06,C1000004082,983.085240,983.085240,0,0,C1000004082
373767,352,CASH_IN,1.330968e+06,C1180747031,307132.227255,1.637663e+06,C1000004082,437.450577,437.450577,0,0,C1000004082
373767,352,CASH_IN,6.813120e+05,C1180747031,157446.952603,8.382382e+05,C1000004082,520.719622,520.719622,0,0,C1000004082
373767,352,CASH_IN,2.962871e+06,C1180747031,683610.391833,3.645634e+06,C1000004082,847.250986,847.250986,0,0,C1000004082
373767,352,CASH_IN,6.136292e+05,C1180747031,141770.238287,7.549768e+05,C1000004082,422.672281,422.672281,0,0,C1000004082
373767,352,CASH_IN,6.873579e+05,C1180747031,158589.660732,8.457530e+05,C1000004082,194.641854,194.641854,0,0,C1000004082
373767,352,CASH_IN,1.610844e+05,C1180747031,37162.610139,1.982058e+05,C1000004082,41.244897,41.244897,0,0,C1000004082
373767,352,CASH_IN,9.828801e+05,C1180747031,226832.200376,1.209358e+06,C1000004082,354.504034,354.504034,0,0,C1000004082
373767,352,CASH_IN,4.874960e+05,C1180747031,112509.328422,5.998250e+05,C1000004082,180.324893,180.324893,0,0,C1000004082
373767,352,CASH_IN,4.486654e+05,C1180747031,103479.223741,5.520675e+05,C1000004082,77.083852,77.083852,0,0,C1000004082
373767,352,CASH_IN,1.106310e+06,C1180747031,255669.268075,1.361124e+06,C1000004082,855.766367,855.766367,0,0,C1000004082
373767,352,CASH_IN,1.190805e+06,C1180747031,275169.617031,1.465088e+06,C1000004082,886.695861,886.695861,0,0,C1000004082
373767,352,CASH_IN,9.036876e+05,C1180747031,208629.532598,1.111895e+06,C1000004082,421.631343,421.631343,0,0,C1000004082
373767,352,CASH_IN,8.918579e+05,C1180747031,205787.118015,1.097374e+06,C1000004082,271.395308,271.395308,0,0,C1000004082
373767,352,CASH_IN,1.569853e+05,C1180747031,36186.000000,1.931713e+05,C1000004082,0.000000,0.000000,0,0,C1000004082
373767,352,CASH_IN,2.289303e+05,C1180747031,52780.292746,2.816968e+05,C1000004082,13.734959,13.734959,0,0,C1000004082
373767,352,CASH_IN,4.897165e+05,C1180747031,113037.934636,6.025523e+05,C1000004082,202.108911,202.108911,0,0,C1000004082
373767,352,CASH_IN,2.228932e+05,C1180747031,51454.795045,2.742484e+05,C1000004082,99.603574,99.603574,0,0,C1000004082
373767,352,CASH_IN,1.180964e+06,C1180747031,272517.978676,1.453093e+06,C1000004082,388.703025,388.703025,0,0,C1000004082
373767,352,CASH_IN,2.665605e+06,C1180747031,615044.740319,3.279860e+06,C1000004082,789.736233,789.736233,0,0,C1000004082
373767,352,CASH_IN,1.357524e+06,C1180747031,313208.425484,1.670353e+06,C1000004082,378.932521,378.932521,0,0,C1000004082
373767,352,CASH_IN,1.314429e+06,C1180747031,303488.430796,1.617261e+06,C1000004082,656.475404,656.475404,0,0,C1000004082
373767,352,CASH_IN,7.371997e+05,C1180747031,170136.489918,9.070661e+05,C1000004082,270.052735,270.052735,0,0,C1000004082
373767,352,CASH_IN,5.264296e+05,C1180747031,121610.107265,6.476952e+05,C1000004082,344.527659,344.527659,0,0,C1000004082
373767,352,CASH_IN,1.410203e+06,C1180747031,325506.026900,1.735130e+06,C1000004082,579.816412,579.816412,0,0,C1000004082
373767,352,CASH_IN,5.556193e+05,C1180747031,128249.747562,6.836398e+05,C1000004082,229.201363,229.201363,0,0,C1000004082
373767,352,CASH_IN,7.460827e+05,C1180747031,172153.593516,9.180059e+05,C1000004082,230.425513,230.425513,0,0,C1000004082
373767,352,CASH_IN,3.572740e+05,C1180747031,82541.636013,4.395713e+05,C1000004082,244.274364,244.274364,0,0,C1000004082
373767,352,CASH_IN,3.842144e+05,C1180747031,88639.746701,4.727552e+05,C1000004082,98.962296,98.962296,0,0,C1000004082
373767,352,CASH_IN,1.503316e+06,C1180747031,346958.984595,1.849708e+06,C1000004082,566.942764,566.942764,0,0,C1000004082

In [198]:
tmp_df = tmp_df[1:5000000]

In [199]:
tmp_df[tmp_df['isFraud'] == 1].shape

(38337, 12)

In [200]:
import random
#fraudfraud
fraud_tmp = tmp_df[tmp_df["isFraud"]==1]
non_fraud_tmp = tmp_df[tmp_df["isFraud"]==0]

#receiver
onetime_receiver = fraud_tmp["receiver"].value_counts()[fraud_tmp["receiver"].value_counts()==1].index.tolist()

#receiverdataframe
create_fraud_data= tmp_df[tmp_df["receiver"].apply(lambda x:x in onetime_receiver)]

#
##
choose_list = [1,2,3,4] #
type_list = create_fraud_data["type"].unique().tolist() # type

##dataframe
new_columns = create_fraud_data.columns.tolist()
new_data = pd.DataFrame(columns=new_columns)

for row in create_fraud_data.values:
    num = random.choice(choose_list)#
    for i in range(num):
        new_step = row[0]
        new_type = random.choice(type_list)
        new_amount = row[2] + random.uniform(10,10000) * random.uniform(1,10)
        new_nameOrig = np.where(new_step % 5 != 0, random.choice(fraud_tmp["nameOrig"].tolist()),random.choice(non_fraud_tmp["nameOrig"].tolist()))
        new_nameOrig = str(new_nameOrig) # np.wherearray
        new_oldbalanceOrg = row[4]+ new_amount - row[2]
        new_newbalanceOrig = row[5]
        new_nameDest = row[6]
        new_oldbalanceDest = row[7]
        new_newbalanceDest = row[8]
        new_isFraud = row[9]
        new_isFlaggedFraud = row[10]
        new_receiver = row[11]
        new_row = pd.DataFrame(data = [new_step,new_type,new_amount,new_nameOrig,new_oldbalanceOrg,new_newbalanceOrig,new_nameDest,new_oldbalanceDest,new_newbalanceDest,new_isFraud,new_isFlaggedFraud,new_receiver],index=new_columns).T
        new_data = pd.concat([new_data, new_row],ignore_index=True)


new_data.head()

,step,type,amount,nameOrig,oldbalanceOrg,newbalanceOrig,nameDest,oldbalanceDest,newbalanceDest,isFraud,isFlaggedFraud,receiver
0,399,CASH_IN,183523,C141206514,55832.2,0,C1949981498,197624,275703,0,0,C1949981498
1,399,DEBIT,181349,C1907033447,53658,0,C1949981498,197624,275703,0,0,C1949981498
2,399,CASH_IN,205522,C818983201,77830.9,0,C1949981498,197624,275703,0,0,C1949981498
3,399,CASH_IN,188243,C525104705,60552.2,0,C1949981498,197624,275703,0,0,C1949981498
4,298,CASH_IN,408225,C1557521706,449134,40908.6,C1283529992,6.04591e+06,6.40141e+06,0,0,C1283529992

## Simulate additional attributes

#### First get random values assigned to each transaction
#### Then set all attributes for a single person(id) to be the same

In [202]:
# Add occupation
occ = np.random.randint(50, size=len(tmp_df))
tmp_df['occupation'] = occ.tolist()

d:\Anaconda3\lib\site-packages\ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  This is separate from the ipykernel package so we can avoid doing imports until

In [203]:
# Add account open country
country = np.random.randint(10, size=len(tmp_df))
tmp_df['country'] = country

d:\Anaconda3\lib\site-packages\ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  This is separate from the ipykernel package so we can avoid doing imports until

In [204]:
# Add account type
tp = np.random.choice(['personal', 'business', 'other'], size = len(tmp_df))
tmp_df['account_type'] = tp

d:\Anaconda3\lib\site-packages\ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  This is separate from the ipykernel package so we can avoid doing imports until

In [205]:
# Add random key words from unstructured dataset
# Can augment and make this more realistic by linking NLP on tweets related to bank accounts
# But here just throw some key words that might be relevant
'''
Set some special key words to frauds,
some random key words to non-frauds
REMEMBER: These key words can be changed to anything realistic if given the real data
'''
fraud_key_words = ['Panama','linked','confident','movie','bitcoin','crypto','offshore','investment','shares','equity']
non_fraud_words = ['financing','loan','salary', 'routine', 'general', 'miscellaneous', 'payment', 'delaying',
                   'late', 'overdue','rent']

tmp_df['words'] = tmp_df["isFraud"].apply(lambda x:np.where(x == 1, np.random.choice(fraud_key_words), np.random.choice(non_fraud_words)))


# TODO: set a column called 'key_words', initialize with NULLS, then assign these key words randomly to the dataframe

d:\Anaconda3\lib\site-packages\ipykernel_launcher.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  del sys.path[0]

In [64]:
df_base.iloc[1, :][['nameOrig','occupation']]

nameOrig      C1101598632
occupation              2
Name: 1, dtype: object

# TODO: Check this function works correctly!

In [ ]:
def set_correct_attribute(df):
    '''
    set the same occupation, account type and country for each id 
    '''
    df = df.sort_values('nameOrig')
    for i in tqdm(range(1,len(df))):
        if df.iloc[i,:]['nameOrig'] == df.iloc[i-1,:]['nameOrig']:
            df.iloc[i, :]['occupation'] = df.iloc[i-1, :]['occupation']
            df.iloc[i, :]['country'] = df.iloc[i-1, :]['country']
            df.iloc[i, :]['account_type'] = df.iloc[i-1, :]['account_type']
            #df.iloc[i,:][['occupation','country','account_type']] = df.iloc[i-1,:][[['occupation','country','account_type']]]
    return df

In [ ]:
set_correct_attribute(tmp_df)

In [89]:
set_correct_attribute(df_base.iloc[:1000, :])

  0%|                                                                                          | 0/999 [00:00<?, ?it/s]C:\Users\Siyu\Anaconda3\envs\tensorflow\lib\site-packages\ipykernel_launcher.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

C:\Users\Siyu\Anaconda3\envs\tensorflow\lib\site-packages\ipykernel_launcher.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  if __name__ == '__main__':
C:\Users\Siyu\Anaconda3\envs\tensorflow\lib\site-packages\ipykernel_launcher.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  # Remove the CWD from sys.path while we load stuff.
100%|| 999/999 [00:12<00:00, 77.43it/s]

,step,type,amount,nameOrig,oldbalanceOrg,newbalanceOrig,nameDest,oldbalanceDest,newbalanceDest,isFraud,isFlaggedFraud,occupation,country,account_type
473,15,CASH_OUT,237622.96,C1001890218,10171.00,0.00,C596168920,0.00,237622.96,0,0,33,6,other
673,18,CASH_IN,150783.67,C1004863218,1509405.92,1660189.59,C294136632,354792.45,204008.78,0,0,8,1,other
890,23,PAYMENT,37035.37,C1005468625,0.00,0.00,M747492202,0.00,0.00,0,0,6,3,personal
847,21,CASH_OUT,156163.47,C1005646800,22368.00,0.00,C663955611,853100.75,1009264.21,0,0,46,3,personal
748,19,CASH_OUT,356995.42,C1006323448,0.00,0.00,C845458098,1204544.49,1953114.44,0,0,25,9,other
144,10,CASH_IN,237438.75,C1007679575,11481467.98,11718906.72,C1616253157,414056.97,176618.22,0,0,4,5,personal
786,20,CASH_IN,36957.52,C1007785632,24562753.21,24599710.72,C1433779445,7757953.95,8317978.60,0,0,45,5,other
559,17,CASH_IN,217490.48,C1009421149,10578056.31,10795546.79,C406287897,508059.25,290568.77,0,0,27,2,business
785,20,TRANSFER,745288.75,C1012240507,26932.00,0.00,C1047579551,0.00,745288.75,0,0,38,8,other
95,9,CASH_IN,346471.91,C1012695456,32575830.26,32922302.17,C1582765215,5443067.26,4378039.17,0,0,12,4,personal
395,14,PAYMENT,2189.66,C1013984090,5312.00,3122.34,M1167651641,0.00,0.00,0,0,5,7,other
736,19,CASH_OUT,21063.75,C101466243,0.00,0.00,C150315483,182813.58,203877.34,0,0,17,9,business
563,17,PAYMENT,13852.47,C1016778873,0.00,0.00,M1876372639,0.00,0.00,0,0,46,5,business
52,9,CASH_OUT,240548.97,C1017098131,0.00,0.00,C1920084587,1177138.65,1417687.62,0,0,13,8,business
15,7,CASH_OUT,116118.94,C102027291,20745.18,0.00,C914293025,1122989.98,1239108.91,0,0,19,6,personal
405,15,CASH_IN,39904.67,C1024448519,125036.00,164940.67,C385968765,259056.22,958198.75,0,0,46,8,personal
436,15,CASH_OUT,156909.56,C1024649606,186.00,0.00,C420398953,1073080.55,1229990.11,0,0,12,1,business
262,12,PAYMENT,3201.21,C1026010130,212942.02,209740.81,M1526866481,0.00,0.00,0,0,31,0,other
868,22,CASH_OUT,88586.80,C1026010130,0.00,0.00,C115409489,424828.41,513415.21,0,0,21,5,business
603,17,CASH_OUT,401998.13,C1028315484,0.00,0.00,C346325956,5001445.16,5403443.29,0,0,34,1,personal
873,22,PAYMENT,8214.79,C1028315484,312111.26,303896.46,M417315058,0.00,0.00,0,0,1,5,other
850,21,TRANSFER,2350757.65,C102946146,0.00,0.00,C145797558,2385319.66,4736077.31,0,0,49,7,business
611,18,CASH_OUT,36587.33,C1029986438,41739.00,5151.67,C1520941958,3178819.78,3215407.11,0,0,19,2,business
863,22,PAYMENT,16773.83,C1035199278,76199.28,59425.46,M1723027415,0.00,0.00,0,0,27,1,business
146,10,TRANSFER,48117.10,C1039623203,0.00,0.00,C2079520252,2145501.95,2487192.68,0,0,17,4,other
550,17,CASH_IN,85241.66,C1040924828,17927258.47,18012500.13,C1947651738,132390.39,47148.73,0,0,10,6,other
421,15,CASH_OUT,80331.16,C1041466144,11477.00,0.00,C194746285,3133773.27,3006510.87,0,0,25,7,business
800,20,CASH_OUT,115924.40,C1046943505,522762.00,406837.60,C721297887,3771596.00,3887520.40,0,0,31,8,personal
658,18,CASH_OUT,37969.91,C1048131653,0.00,0.00,C1318864729,686233.53,592458.22,0,0,22,9,other
194,11,CASH_OUT,110684.09,C1052471021,242278.00,131593.91,C1344545573,222333.09,333017.18,0,0,31,5,personal
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
939,33,PAYMENT,2103.87,C94343291,81650.00,79546.13,M993817775,0.00,0.00,0,0,41,7,other
268,13,CASH_OUT,66472.66,C944841858,0.00,0.00,C243656560,223447.60,289920.26,0,0,12,0,business
129,10,TRANSFER,288348.23,C949686118,0.00,0.00,C1606884481,5181501.84,7892113.58,0,0,22,6,other
47,8,PAYMENT,7481.95,C951387868,19639.00,12157.05,M927789050,0.00,0.00,0,0,34,5,business
122,10,CASH_IN,395.08,C952454057,6399209.37,6399604.45,C1098169068,143108.11,142713.03,0,0,44,5,business
400,14,PAYMENT,26519.21,C953161274,174295.60,147776.39,M1740861556,0.00,0.00,0,0,12,0,other
899,24,PAYMENT,37857.34,C953661615,11809.00,0.00,M849746279,0.00,0.00,0,0,33,9,personal
339,14,TRANSFER,214854.33,C956783513,0.00,0.00,C1996526533,1156633.54,1371487.87,0,0,16,8,other
895,24,PAYMENT,9628.51,C956926448,15220.00,5591.49,M1617422605,0.00,0.00,0,0,3,0,personal
751,19,CASH_OUT,76705.59,C958635825,186697.00,109991.41,C1383887673,707835.75,784541.33,0,0,33,0,business
703,19,CASH_IN,104719.71,C960373735,8262601.70,8367321.40,C166361708,3906202.37,3801482.66,0,0,44,1,personal
532,16,PAYMENT,25362.29,C961361679,204273.00,178910.71,M953478072,0.00,0.00,0,0,27,2,other
23,8,PAYMENT,7809.72,C965928993,404931.00,397121.28,M478445849,0.00,0.00,0,0,11,8,other
378,14,CASH_OUT,234272.66,C972142327,21316.00,0.00,C2020231653,6280.00,940462.50,0,0,28,8,other
775,20,CASH_OUT,4794.25,C973507752,0.00,0.00,C1139582088,11739.00,0.00,0,0,41,7,business
392,14,CASH_OUT,1925.10,C976592064,72048.17,70123.07,C1480110954,0.00,1925.10,0,0,17,6,personal
882,23,PAYMENT,14174.20,C976818249,59548.00,45373.80,M1568202799,0.00,0.00,0,0,26,7,personal
508,16,CASH_IN,252062.80,C978274570,9513295.47,9765358.26,C879004826,2203945.34,2156640.84,0,0,30,5,personal
601,17,CASH_IN,124193.56,C979309157,2986669.63,3110863.19,C232318777,214802.65,90609.09,0,0,45,7,personal
753,19,CASH_IN,544032.20,C979934928,888132.05,1432164.25,C727535328,579468.83,35436.63,0,0,6,0,other
134,10,CASH_IN,10302.00,C980023634,10933.00,21235.00,C1455689318,0.00,0.00,0,0,27,5,business
276,13,CASH_IN,334828.32,C981316169,9655692.37,9990520.70,C2045649928,827764.87,673726.19,0,0,15,9,business
976,34,CASH_OUT,178577.36,C986886377,0.00,0.00,C1905079199,8501039.83,8679617.19,0,0,2,0,business
711,19,DEBIT,5662.04,C986886377,351742.16,346080.12,C242347018,140376.83,146038.87,0,0,48,2,personal
479,16,CASH_OUT,10813.47,C989709828,9855.90,0.00,C1917869329,309279.26,320092.74,0,0,37,4,other
846,21,PAYMENT,4550.76,C990422673,1827.00,0.00,M293732936,0.00,0.00,0,0,18,5,business
311,13,PAYMENT,12094.33,C994773132,30827.00,18732.67,M1966516381,0.00,0.00,0,0,23,7,personal
779,20,TRANSFER,963976.45,C99483815,76756.00,0.00,C1631862874,118691.43,1125979.94,0,0,37,1,business
954,34,CASH_IN,26712.36,C994864343,268.00,26980.36,C20265100,2839247.10,2812534.74,0,0,40,9,business
63,9,PAYMENT,38652.17,C997921074,13440.00,0.00,M125256215,0.00,0.00,0,0,30,9,personal

# Sanitity check on simulated data 

- save as csv

In [ ]:
#print(len(df_base))
#df_base.head()

In [ ]:
# df.to_csv('cu_data')

In [209]:
tmp_df.to_csv("data_simulated.csv")

In [207]:
tmp_df.shape

(3299999, 16)